<nav class="navbar navbar-expand-md navbar-light">

    <div class="container-fluid flex-nowrap pe-0 pe-sm-2 pe-md-3">
        <a class="navbar-brand" href="#">{{titulo | uppercase}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div id="navbarNav" class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                <a class="nav-link" routerLink="/proyectos" routerLinkActive="active">Proyectos</a>
            </li>
            <li class="nav-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                <a class="nav-link" routerLink="/acerca-de" routerLinkActive="active">Acerca&nbsp;de</a>
            </li>
            <li class="nav-item">
                <div class="nav-search">
                    <label for="search" (click)="toggleSearch()">
                        <i class="fas fa-search"></i>
                    </label>
                    <input #search id="search" type="search" class="form-control" placeholder="Buscar..."
                        [hidden]="hideSearchInput" (keyup.enter)="buscar(search.value)" />
                </div>
            </li>
            <li *ngIf="isAuthenticated" class="nav-item" data-bs-toggle="collapse"
                data-bs-target=".navbar-collapse.show">
                <a class="nav-link" routerLink="/admin" routerLinkActive="active"><i class="fas fa-cog"></i></a>
            </li>
            <li *ngIf="!isAuthenticated" class="nav-item" data-bs-toggle="collapse"
                data-bs-target=".navbar-collapse.show">
                <a class="nav-link" routerLink="/login"><i class="fas fa-sign-in-alt"></i></a>
            </li>
            <li *ngIf="isAuthenticated" class="nav-item" data-bs-toggle="collapse"
                data-bs-target=".navbar-collapse.show">
                <a class="nav-link" (click)="logout()"><i class="fas fa-sign-out-alt"></i></a>
            </li>
        </ul>
    </div>

</nav>