<div class="container">

    <h1 class="text-center">Administración</h1>

    <div class="new-project">
        <button class="btn btn-primary" routerLink="/admin/proyecto">
            <i class="fas fa-plus-circle"></i>
            <span>Nuevo Proyecto</span>
        </button>
    </div>

    <div *ngIf="cargando">
        <app-spinner></app-spinner>
    </div>

    <div class="alert alert-danger" *ngIf="proyectos.length == 0">
        <p class="m-2 text-center">{{mensaje}}</p>
    </div>

    <div *ngIf="proyectos.length > 0">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Web</th>
                    <th>GitHub</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let proyecto of proyectos" class="align-middle">
                    <td class="text-center">{{proyecto.id}}</td>
                    <td><img [src]="proyecto.imagen" width="100px"/></td>
                    <td>{{proyecto.nombre}}</td>
                    <td class="text-center"><a [href]="proyecto.urlProyecto"><i class="fas fa-globe"></i></a></td>
                    <td class="text-center"><a [href]="proyecto.urlRepositorio"><i class="fab fa-github"></i></a></td>
                    <td class="text-center">
                        <button class="btn btn-sm btn-success" [routerLink]="['/proyecto', proyecto.id]"><i class="fas fa-eye"></i></button>
                        <button class="btn btn-sm btn-warning" [routerLink]="['/admin/proyecto', proyecto.id]"><i class="fas fa-edit"></i></button>
                        <button class="btn btn-sm btn-danger" (click)="borrarProyecto(proyecto)"><i class="fas fa-trash-alt"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>