<footer class="container-fluid">
  <div class="row">

    <div class="d-none d-md-flex col">
        <p>{{titulo | uppercase}}</p>
    </div>

    <div class="d-flex col">
        <div class="icons">
            <a href="https://github.com/arielarmijo" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/arielarmijo/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="mailto:arielarmijo@yahoo.es"><i class="fas fa-envelope"></i></a>
        </div>
        <p><b>Ariel Armijo Quiroz</b></p>
    </div>

    <div class="d-none d-md-flex col">
        <p>Santiago de Chile</p>
        <p>{{fecha}}</p>
    </div>

  </div>
</footer>
