<div class="container animated fadeIn">

    <app-spinner *ngIf="cargando"></app-spinner>

    <div class="alert alert-danger" *ngIf="!cargando && proyectos.length == 0">
        <p class="m-2 text-center">{{mensaje}}</p>
    </div>

    <div class="row g-4" *ngIf="proyectos.length > 0">

        <div class="col" *ngFor="let proyecto of proyectos">

            <div class="card text-white flip-card">
                <div class="flip-card-inner shadow">

                    <img [src]="proyecto.imagen" class="flip-card-front" [alt]="proyecto.nombre"/>

                    <div class="card-img-overlay flip-card-back">
                        <h5 class="card-title">{{proyecto.nombre}}</h5>
                        <p class="card-text pt-2">{{proyecto.descripcionCorta}}</p>
                        <button class="btn btn-sm btn-primary" [routerLink]="['/proyecto', proyecto.id]">Ver</button>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>