<div class="container animated fadeIn">

    <app-spinner *ngIf="!proyectos"></app-spinner>

    <div class="alert alert-danger" *ngIf="proyectos && proyectos.length == 0">
        <p class="m-2 text-center">No existen proyectos.</p>
    </div>

    <div class="row g-4" *ngIf="proyectos && proyectos.length > 0">

        <div class="col" *ngFor="let proyecto of proyectos">

            <div class="card text-white flip-card">
                <div class="flip-card-inner shadow">

                    <img [src]="proyecto.imagen" class="flip-card-front" [alt]="proyecto.nombre"/>

                    <div class="card-img-overlay flip-card-back" [routerLink]="['/proyecto', proyecto.id]">
                        <h5 class="card-title">{{proyecto.nombre}}</h5>
                        <p class="card-text pt-2">{{proyecto.descripcionCorta}}</p>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>