.card-header {
    padding: 1rem 0;
    border-top: 1px solid rgba(0, 0, 0, .125);
}

.link {
    text-align: end;
    margin-right: 1rem;
}
.tag-container {
    padding: 2rem 1rem;
    text-align: center;
}

svg {
    margin-right: 0.25rem;
}

.badge {
    margin: 0.5rem 0.25rem;
  }