<div class="animated fadeIn">

   <div *ngIf="!proyecto && !error">
       <app-spinner></app-spinner>
   </div>

    <div class="container">
        <app-alert [mensaje]="error" [mostrar]="error != null" tipo="alert-danger"></app-alert>
    </div>

    <div *ngIf="proyecto" class="container">

        <div class="card shadow pb-4 col-xl-10 mx-auto">
            
            <div class="card-header text-center">
                <h2 class="card-tile">{{proyecto.nombre}}</h2>
                <p class="card-text">{{proyecto.descripcionCorta}}</p>
            </div>
            
            <div class="card-body">

                <div class="mt-3 mb-4 mx-1" >
                    <img [src]="proyecto.urlImagen" class="img-fluid shadow border rounded mx-auto d-block" [alt]="proyecto.nombre">
                </div>

                <p class="card-text">{{proyecto.descripcionLarga}}</p>
                
                <p class="link">
                    <a [href]="proyecto.urlProyecto" class="card-link">
                        <i class="fas fa-globe"></i>
                        <span>{{proyecto.nombre}}</span>
                    </a>
                    <a [href]="proyecto.urlRepositorio" class="card-link">
                        <i class="fab fa-github"></i>
                        <span>GitHub</span>
                    </a>
                </p>

                <div class="tag-container">
                    <span class="badge bg-secondary" *ngFor="let etiqueta of proyecto.etiquetas" (click)="buscar(etiqueta.nombre)">{{etiqueta.nombre}}</span>
                </div>

                <a class="btn btn-sm btn-primary float-end" (click)="goBack()">Volver</a>

            </div>

        </div>

    </div>
</div>

